.bubble {
    margin:15px;
    width:80%;
    border: solid transparent;
    border-bottom-color: rgb(0, 0, 0, 0.1);
    border-width: 10px;
    margin-left: 10px;
    border-radius: 20px;
    color:white;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.1);
    font-size:16px;
}

.bubble-bot {
    background-color:#2A2833;
    float:left;
}

.bubble-user {
    background-color:#718FAD;
    float:right;
}

.chatcontainer {
    position:relative;
    width: 100%;
    max-width:800px;
    height:100%;
    background-color:#EEE;
}

html {
    height:100%;
}

body {
    width:100%;
    height:100%;
}

.stay-bottom {
    position: absolute;
    left: 0px;
    bottom:30px;
}

.bubblecontainer {
    height:90%;
    overflow: scroll;
}

.bubblecontainer {
    border-collapse: collapse;
}

.bubblecontainer table, th, td {
    border: 1px solid white;
    padding: 8px;
}

.bubblecontainer table tr:hover {
    background-color: #ffffff3d;
}

.chat-input {
    height:8%;
    width:100%;
    font-size:18px;
}

.chat-input-field {
    width: 80% !important;
    height:100%;
    font-size:18px;
}

.chat-send-button {
    height:100%;
    width:20%;
    float: right;
    border: solid transparent;
    border-bottom-color: rgb(0, 0, 0, 0.1);
    color:white;font-size:18px;
    background-color:#718FAD;
}


.chat-record-btn{
	position:absolute;
	width:60px;
	height:60px;
	bottom:80px;
	right:10px;
	background-color:#D1766D;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.chat-say-btn {
    position:absolute;
	width:60px;
	height:60px;
	bottom:160px;
	right:10px;
	background-color:#719F7D;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}